body {
  font-family: "Tajawal", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.overflow {
  overflow: hidden;
}
:root {
  --main-color: #666666;
  --main-hover: #336fa9;
  --sec-color: #999999;
  --white-color: #ffffff;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-hover);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}
/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  color: rgba(255, 255, 255, 100);
  background-color: var(--main-hover);
}
@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
/*preloader*/
/*                          header section                     */
/*top header*/
header {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.top-header a {
  text-decoration: none;
}
.img-logo {
  max-width: 173px;
  margin: 0;
}
.img-logo,
.empt-div,
.lang-ancor-cont {
  flex: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}
.lang-ancor-cont {
  text-align: end;
}
.lang-ancor {
  text-align: end;
  font-weight: 500;
  font-size: 14px;
  color: var(--main-color);
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
.lang-ancor:hover {
  color: var(--main-hover);
}
@media (max-width: 767px) {
  .empt-div {
    display: none;
  }
  .img-logo {
    max-width: 138px;
  }
}
/*                          header section                     */
/*                                   footer                            */
footer {
  /* padding: 0 0 50px; */
}
.copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
  padding-bottom: 1vh;
}
/* @media (max-width: 991px) {
  footer {
    padding: 0 0 40px;
  }
} */
/*                                   footer                            */

.fixall {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
@media (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*               form page                 */
.form-section {
  margin: 5vh 0 6vh;
}
.form-head h2 {
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  color: var(--main-hover);
  text-align: center;
}
.form-section form {
  max-width: 335px;
  margin: 0 auto;
  margin-top: 25px;
}
.form-group {
  margin-bottom: 10px;
}
.form-input {
  background-color: #fff;
  width: 100%;
  height: 50px;
  text-align: start;
  border: 2px solid #fff;
  padding: 0 25px;
  color: var(--sec-color);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  caret-color: var(--main-hover);
}
.form-input::placeholder {
  text-transform: capitalize;
}
.form-input:focus {
  border-color: var(--main-hover);
  outline: 0;
}
.form-btn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  background-color: var(--main-hover);
  text-decoration: none !important;
  font-weight: 700;
  font-size: 18px;
  color: var(--white-color);
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border: none;
  outline: none;
}
.form-btn:hover {
  color: var(--white-color);
  background-color: rgb(44, 98, 148);
}
/* TOGGLE STYLING */
.toggle {
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.toggle input + label {
  cursor: pointer;
  height: 50px;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--white-color);
  background-color: rgba(51, 111, 169, 0.5);
  text-align: center;
  transition: all 0.15s ease-out;
}
.toggle input + label:first-of-type {
  border-radius: 0px 25px 25px 0px;
}
html[dir="ltr"] .toggle input + label:first-of-type {
  border-radius: 25px 0px 0px 25px;
}
.toggle input + label:last-of-type {
  border-radius: 25px 0px 0px 25px;
}
html[dir="ltr"] .toggle input + label:last-of-type {
  border-radius: 0px 25px 25px 0px;
}
.toggle input:hover + label {
  opacity: 0.5;
}
.toggle input:checked + label {
  background-color: var(--white-color);
  color: var(--main-hover);
  z-index: 1;
}
.toggle input:checked:hover + label {
  opacity: 1;
}
.toggle input:focus + label {
  outline: none;
}
.terms {
  font-weight: 500;
  font-size: 16px;
  display: block;
  color: var(--main-color);
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
.terms a {
  display: inline-block;
  color: var(--main-hover);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.terms a:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .form-section {
    margin: 0;
  }
}
/***************************pop-up*************************/

.terms-modal .modal-dialog {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

@media (max-width: 480px) {
  .terms-modal .modal-dialog {
    width: calc(100vw - 40px);
  }
}

.terms-modal .modal-content {
  padding: 50px 45px 36px;
}

.modal-content {
  border-radius: 0;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
}

.modal-header {
  padding: 0;
  border: none;
  position: static;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-header .close {
  position: absolute;
  top: 15px;
  inset-inline-end: 15px;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: auto;
  height: auto;
  opacity: 1;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-header .close:hover,
.modal-header .close:focus {
  color: var(--main-hover);
}

.modal-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  color: var(--main-hover);
  text-align: center;
  margin-bottom: 3vh;
}

.modal-body {
  padding: 0;
  margin: 0;
}
.modal-body p {
  color: #666666;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  text-align-last: center;
}
@media (max-width: 480px) {
  .terms-modal .modal-content {
    padding: 40px 25px 30px;
  }
}
/***************************pop-up*************************/
@media (min-width: 1199px) {
  .mob-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;
    height: 95vh;
  }
  .form-section {
    margin: 0;
  }
}
@media (max-width: 480px) {
  .mob-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;
    height: 95vh;
  }
}
